* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ecf2f8;
}

main {
  padding: 0px 24px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  font-size: 0.625rem;
  text-align: center;
  padding: 20px;
}
.footer__link {
  color: hsl(228, 45%, 44%);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
@media (min-width: 31rem) {
  .card {
    flex-direction: row;
    max-width: 608px;
  }
}
@media (min-width: 50rem) {
  .card {
    max-width: 730px;
  }
}
.card__image-container {
  max-height: 200px;
  overflow: hidden;
}
@media (min-width: 31rem) {
  .card__image-container {
    max-height: unset;
    flex: 0 0 37.5%;
  }
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center -20px;
}
@media (min-width: 31rem) {
  .card__image {
    object-fit: unset;
    object-position: center;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  padding: 32px 30px 18px;
}
@media (min-width: 31rem) {
  .product-info {
    padding: 41px 36px 41px 32px;
    flex: 0 0 62.5%;
  }
}
@media (min-width: 50rem) {
  .product-info {
    padding: 30px 40px;
  }
}

.product-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.product-description__title {
  font: 700 1.25rem/130% "Manrope", sans-serif;
  letter-spacing: 0.031rem;
  color: #48556a;
}
.product-description__paragraph {
  font-size: 0.8125rem;
  line-height: 140%;
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.00975rem;
  font-weight: 400;
  color: #6e8098;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 48px;
}
@media (min-width: 31rem) {
  .user-info {
    margin-top: 24px;
    padding-right: 5px;
  }
}
.user-info__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user-info__details {
  display: flex;
  flex-direction: column;
}
.user-info__name {
  font-size: 0.8125rem;
  line-height: 140%;
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.00975rem;
  font-weight: 700;
}
.user-info__date {
  font-size: 0.8125rem;
  line-height: 140%;
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.00975rem;
  font-weight: 400;
  color: #9daec2;
}

.user-info--hidden {
  display: none;
}

.button {
  margin-left: auto;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: background 0.3s ease;
}
.button__icon {
  width: 15px;
  height: 13px;
  transition: filter 0.3s ease;
}
.button--light {
  background-color: #ecf2f8;
}
.button--light:hover, .button--light.active {
  background-color: #6e8098;
}
.button--light:hover .button__icon, .button--light.active .button__icon {
  filter: brightness(0) invert(1);
}
.button--dark {
  background-color: #6e8098;
}
.button--dark:hover, .button--dark:active {
  background-color: #ecf2f8;
}
.button--dark:hover .button__icon, .button--dark:active .button__icon {
  filter: invert(0);
}
.button--dark .button__icon {
  filter: brightness(0) invert(1);
}

.share-details {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: #48556a;
  margin-top: 12px;
  padding: 22px 30px;
}
@media (min-width: 31rem) {
  .share-details {
    border-radius: 10px;
    padding: 18px 38px;
    margin-top: 0px;
  }
  .share-details button {
    display: none;
  }
}
.share-details--hidden {
  display: none;
}
.share-details__text {
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 140%;
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.00975rem;
  font-weight: 400;
  letter-spacing: 0.203125rem;
  color: #9daec2;
}
.share-details__icons-container {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 20px;
  line-height: 0;
}
.share-details__icon {
  width: 20px;
}
.share-details__arrow {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #48556a;
}

/*# sourceMappingURL=styles.css.map */
