/* Error: The target selector was not found.
 * Use "@extend .button-dark !optional" to avoid this error.
 *     ,
 * 215 |       @extend .button-dark;
 *     |       ^^^^^^^^^^^^^^^^^^^^
 *     '
 *   styles/styles.scss 215:7  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend .button-dark !optional" to avoid this error.\a     \2577 \a 215 \2502        @extend .button-dark;\a     \2502        ^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   styles/styles.scss 215:7  root stylesheet';
}
