@use "variables" as *;
@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $grey-200;
}

main {
  padding: 0px 24px;
  flex-grow: 1;
  display: flex; // Enables flexbox
  justify-content: center; // Centers horizontally
  align-items: center; // Centers vertically
}

footer {
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 10px;
  overflow: hidden;

  @media (min-width: $break-point-1) {
    flex-direction: row;
    max-width: 608px;
  }

  @media (min-width: $break-point-2) {
    max-width: 730px;
  }

  &__image-container {
    max-height: 200px;
    overflow: hidden; // Ensures anything outside the container is hidden

    @media (min-width: $break-point-1) {
      max-height: unset;
      flex: 0 0 37.5%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover; // Ensures the image fills the container without distortion
    object-position: center -20px;

    @media (min-width: $break-point-1) {
      object-fit: unset;
      object-position: center;
    }
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  padding: 32px 30px 18px;

  @media (min-width: $break-point-1) {
    padding: 41px 36px 41px 32px;
    flex: 0 0 62.5%;
  }

  @media (min-width: $break-point-2) {
    padding: 30px 40px;
  }
}

.product-description {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    @include text-preset-1;
    color: $grey-900;
  }

  &__paragraph {
    @include text-preset-2-medium;
    color: $grey-500;
  }
}

.user-info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 48px;

  @media (min-width: $break-point-1) {
    margin-top: 24px;
    padding-right: 5px;
  }

  &__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__name {
    @include text-preset-2-bold;
  }

  &__date {
    @include text-preset-2-medium();
    color: $grey-400;
  }
}

.user-info--hidden {
  display: none;
}

.button {
  margin-left: auto;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: background 0.3s ease;

  &__icon {
    width: 15px;
    height: 13px;
    transition: filter 0.3s ease;
  }

  &--light {
    background-color: $grey-200;

    &:hover,
    &.active {
      background-color: $grey-500;

      .button__icon {
        filter: brightness(0) invert(1);
      }
    }
  }

  &--dark {
    background-color: $grey-500;

    &:hover,
    &:active {
      background-color: $grey-200;

      .button__icon {
        filter: invert(0);
      }
    }
  }

  &--dark .button__icon {
    filter: brightness(0) invert(1);
  }
}

.share-details {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: $grey-900;
  margin-top: 12px;
  padding: 22px 30px;

  @media (min-width: $break-point-1) {
    border-radius: 10px;
    padding: 18px 38px;
    margin-top: 0px;

    button {
      display: none;
    }
  }

  &--hidden {
    display: none;
  }

  &__text {
    text-transform: uppercase;
    @include text-preset-3;
    color: $grey-400;
  }

  &__icons-container {
    display: flex;
    gap: 16px;
    align-items: center;
    height: 20px;
    line-height: 0;
  }

  &__icon {
    width: 20px;
  }

  &__arrow {
    position: absolute;
    bottom: -12px; // Positions the arrow 12px below share-details
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid $grey-900; // Matches the background color of share-details
  }
}
